<html>
<head>
<style>
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #043c8c;
  	color: white;
    text-align: center;
}
</style>
</head>
<body>

{% if not winner %}
<h1>WE ARE DIGITAL</h1>
<img src="https://c.tenor.com/YYkpSHJ9GyAAAAAd/gibert-taxi.gif"/>

    {% if won %}
        <h1>You WON the first assignment!</h1>
        <h3>Enter your First and Lastname to claim your prize!</h3>
        <form method="POST">
            <input name="text">
            <input type="hidden" name="score" value="{{ count }}">
            <input type="submit">
        </form>
    {% else %}
        <h1>{{ count }}</h1>
        <h1>You failed the first assignment!</h1>
    {% endif %}
{% else %}
<h1>The game is won by {{ winner }} who's now first on the leaderbord!</h1>
{% endif %}
</body>
</html>



